/* A stylesheet to use on my website
   !* Author: Thannaree Charoenpokkasap
   !* Website: bow.meys.tel, thannaree.github.io, bow.meystel.com
*/

/* The default CSS is for mobile devices -- iPhone with large screen specifically */

* {
    font-family: "Georgia", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper, .head-banner, .footer, .top-section, .container {
    width: 100%;
    padding: 10px;
}

.nav-bar {
    display: none;
}

#side-nav {
    overflow: hidden;
    right: 0;
    display: none;
    position: fixed;
    background-color: black;
    /*opacity: 0.8;*/
    width: auto;
    height: auto;
    margin-top: 9%;
    padding: 12px 10px;
    z-index: 99;
    line-height: 25px;
}

#side-nav a {
    display: block;
    font-size: small;
    text-align: right;
    color: white;
}

#side-nav .icon {
    color: white;
}

#side-nav .icon::after {
    content: "";
    padding: 0 3px;
}

/*#side-nav a:hover {
    color: #673ab7;
}*/

/*#side-nav i {
    display: none;
}*/

.head-banner {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    background-color: #673ab7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head-banner div, .head-banner a {
    color: white;
    margin: 2px 5px;
    font-size: large;
}

.menu-icon {

}

a {
    text-decoration: none;
}

.banner {
    margin-top: 12%;
    position: relative;
}

.img-banner {
    width: 100%;
    height: auto;
    opacity: 0.45;
}

.aside-text {
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-style: italic;
    font-size: inherit;
    color: #424242;
}

.aside-text {
    position: absolute;
    vertical-align: middle;
    width: 70%;
    height: auto;
    top: 46%;
    left: 27%;
    transform: translate(-32%, -50%);
    /*border: 5px solid red;*/
    /*box-shadow: inset 5px 0 5px -5px #424242;*/
    /*box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);*/
}

.img-profile {
    width: 20%;
    position: absolute;
    top: 19%;
    right: 5%;
    border: 3px solid white;
    border-radius: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section {
    /*background-color: #673ab7;*/
    position: relative;
    width: 94%;
    height: auto;
    display: block;
    /*color: white;*/
    outline: 3px solid #673ab7;
    outline-offset: -.25em;
    margin: 3%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.13);*/
}

.section h2 {
    color: #673ab7;
    position: absolute;
    padding: 0 .145em;
    left: 50%;
    top: -10px;
    background-color: white;
    transform: translateX(-50%);
}

.section p {
    padding: 25px 15px 15px;
    text-align: center;
    line-height: 24px;
}

.top-item h4, .summary h3, .container h3 {
    padding: 20px;
    line-height: 34px;
}

.top-item p, .summary p, .container p {
    font-size: 16px;
    padding: 20px;
    line-height: 24px;
}

.toTop {
    position: fixed;
    bottom: 55px;
    right: 14px;
    z-index: 99;
    color: white;
    background-color: #673ab7;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: large;
}

.arrow {
    color: white;
    font-size: x-large;
}

.footer p {
    padding: 10px 10px 5px;
}

.footer-icon i {
    padding-left: 5px;
    padding-right: 5px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #673ab7;
    color: white;
    font-size: 14px;
}

/*
#profile-pic {
    width: 35%;
    padding-right: 50px;
}

.image-profile {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
    border-radius: 70%;
    border: 5px solid white;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0;
}*/
/*

!*
     ##Device = Most of the Smart phones Mobiles (Portrait)
     ##Screen = B/w 320px to 479px
   *!
@media (min-width: 320px) and (max-width: 480px) {

}

!* Extra small devices (phones, 600px and down) *!
@media only screen and (max-width: 600px) {

}

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {

}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {

}

!* Large devices (laptops/desktops, 992px and up) *!
@media only screen and (min-width: 992px) {
    .banner {
            margin-top: 3.5%;
    }

    .aside-text {
        width: 63%;
        font-size: 45px;
        line-height: 65px;
        transform: translate(-70%, -45%);
    }

    .img-profile {
        right: 7%;
    }
}



!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {

    .menu-icon {
        display: none;
    }

    .banner {
        margin-top: 3.7%;
    }

    .aside-text {
        width: 60%;
        font-size: 45px;
        line-height: 65px;
        transform: translate(-68%, -45%);
    }

    .img-profile {
        top: 25%;
        right: 10%;
        width: 16%;
    }

    .head-text {
        display: none;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .icon::before, .icon::after {
        content: "";
        padding: 0 5px;
    }

    .column {
        width: 25%;
    }

    .button {
        border: none;
        display: block;
        padding: 8px 16px;
        width: 25%;
        height: 28px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }

    .column {
        border: none;
        !*padding: 0;*!
        !*display: block;*!
        !*text-decoration: none;*!
        text-align: center;
        !*width: 100%;*!
        vertical-align: middle;
        font-size: large;
        !*margin: 0;*!
    }

    a:hover {
        color: darkgrey;
    }

    .banner {
        margin-top: 3.5%;
    }
}
*/



